%\documentclass[a4paper%,uplatex
\documentclass[a4paper
$if(fontsize)$,$fontsize$$else$,12pt$endif$
$if(twocolumn)$,twocolumn$else$,onecolumn$endif$
]{jsarticle}

% usepackage
%\usepackage[dvipdfmx]{color}
%\usepackage[dvipdfmx]{xcolor}
%\usepackage[dvipdfmx]{graphicx}
%\usepackage{bmpsize}
%\usepackage[dvipdfm]{hyperref}
%\usepackage{pxjahyper}
%\usepackage{here}

% for e-pTeX
%\usepackage[utf8]{inputenc}
%\usepackage{lmodern}
\usepackage{hamacro}

\hypersetup{
  pdfstartview={FitV},
  pdftitle={$title$},
  pdfauthor={$author$},
  pdfsubject={$subject$},
  pdfkeywords={$keywords$},
}

%\usepackage{ctable}
%\usepackage{longtable}
%\usepackage{enumerate}
%\usepackage{listings,jlisting}
%\usepackage{book}

% title
\title{$title$}
\author{$author$}
\date{$date$}

% document
\begin{document}
\maketitle

$if(toc)$
\tableofcontents
\clearpage
$endif$

$body$

\end{document}
